/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Passion+One:700);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Century Gothic", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #ede7cf url(/images/texture-bg.png) fixed;
  background-size: 75px 75px;
  color: #3f474c;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

a,
a:visited {
  color: #486e9f;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s; }

a:hover,
a:focus {
  color: #283d59;
  text-decoration: none; }

a:focus {
  outline: 1px dotted #486ea3; }

::-moz-selection {
  background: #486ea3;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #486ea3;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #486ea3;
  color: #fff;
  text-shadow: none; }

#header-block,
#pageBody-block,
#meta-block,
#footer-block {
  width: 100%;
  float: left; }

header,
#page-body,
#meta,
footer {
  width: 980px;
  margin: 0 auto; }

#header-block {
  height: 480px;
  background: url(/images/header/photo.jpg) no-repeat center 0;
  background-size: cover;
  border-bottom: solid 12px #f3f1e5;
  border-color: rgba(237, 231, 207, 0.3); }

header {
  display: none; }

header div {
  margin: 48px 0 4px;
  float: left;
  width: 430px;
  text-align: right;
  text-transform: lowercase;
  color: #fff;
  background-color: #3e4750;
  background-color: rgba(62, 71, 80, 0.8);
  text-shadow: 0 -1px 0 #3e474e;
  border-radius: 3px 3px 0 0; }
  header div h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    padding: 12px 20px 0 0;
    border-radius: 3px 3px 0 0; }
    header div h1 a {
      color: #fff; }
      header div h1 a:hover, header div h1 a:focus {
        color: #486e9f; }
    header div h1 abbr[title] {
      border: none; }
  header div h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0 20px 10px 0; }

nav {
  width: 430px;
  float: left;
  clear: both;
  list-style: none;
  background-color: #3e4750;
  background-color: rgba(62, 71, 80, 0.8);
  border-radius: 0 0 3px 3px;
  z-index: 98;
  text-align: right;
  text-shadow: 0 -1px 0 #3e474e; }
  nav li {
    display: inline;
    margin: 0; }
    nav li a,
    nav li a:visited {
      display: inline-block;
      padding: 6px;
      color: #fff;
      font-size: 18px;
      font-weight: normal; }
    nav li a:hover,
    nav li a:focus {
      background-color: #4e73a9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e73a9), color-stop(100%, #466ca5));
      background-image: -webkit-linear-gradient(#4e73a9, #466ca5);
      background-image: linear-gradient(#4e73a9, #466ca5);
      color: #fff;
      outline: none;
      text-shadow: none; }
    nav li.top {
      display: none;
      float: left; }
      nav li.top a {
        border-radius: 0 0 0 3px; }
    nav li:last-of-type a {
      border-radius: 0 0 3px 0; }
  nav.fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    nav.fixed li.top {
      display: inline; }

section {
  float: left;
  width: 980px;
  padding: 60px 0 48px; }
  section h1 {
    margin: 0 0 24px;
    font-size: 60px;
    font-family: 'Passion One';
    color: #3e4750; }
  section h2 {
    margin: 0 0 12px; }
  section p {
    margin: 0 0 16px; }
    section p strong {
      font-weight: bold;
      text-transform: uppercase; }

#instagram {
  width: inherit;
  margin-top: 24px; }
  #instagram img {
    float: left;
    opacity: 0.5;
    width: 15%;
    margin: 0 2% 2% 0;
    border-radius: 3px; }
  #instagram a:nth-child(6) img {
    margin-right: 0; }
  #instagram a:hover img,
  #instagram a:focus img {
    opacity: 1;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

#work div {
  width: inherit; }
  #work div a {
    float: left;
    display: block;
    width: 32%;
    margin: 0 2% 24px 0; }
    #work div a:nth-child(3), #work div a:nth-child(6) {
      margin-right: 0; }
    #work div a img {
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
    #work div a:hover img, #work div a:focus img {
      opacity: 0.8;
      -webkit-transition: opacity 0.75s;
      -moz-transition: opacity 0.75s;
      transition: opacity 0.75s; }
    #work div a p {
      font-size: 13px;
      line-height: 13px;
      margin: 0;
      color: #7f7f7e;
      font-style: italic; }

#facebox .content {
  width: 620px; }
  #facebox .content h1 {
    font-size: 36px;
    margin: 12px 0 6px; }
  #facebox .content p,
  #facebox .content ul {
    font-size: 14px;
    margin: 0 0 12px; }
  #facebox .content ul {
    margin-left: 24px;
    list-style-type: disc; }
  #facebox .content .meta {
    margin-bottom: 12px;
    font-size: 16px;
    color: #c5c5c5; }

#meta-block {
  border-top: solid 12px #4f555e;
  padding: 24px 0 48px;
  background-color: #3e4750;
  color: #8b9095;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
  #meta-block a:hover,
  #meta-block a:focus {
    color: #fff; }
  #meta-block h1 {
    color: #8b9095; }

#elsewhere {
  width: 55%; }
  #elsewhere ul {
    list-style: none;
    margin: 0; }
    #elsewhere ul li {
      float: left;
      margin: 0 6px 6px 0; }
    #elsewhere ul a {
      float: left;
      font-size: 36px;
      font-weight: bold;
      text-shadow: none;
      color: #3e4750;
      padding: 8px 6px 10px;
      border-radius: 3px;
      background-color: #4f555e;
      overflow: hidden; }
      #elsewhere ul a:hover, #elsewhere ul a:focus {
        color: #fff;
        -webkit-transition: color 0.5s, background-color 0.5s;
        -moz-transition: color 0.5s, background-color 0.5s;
        transition: color 0.5s, background-color 0.5s; }
        #elsewhere ul a:hover.twitter, #elsewhere ul a:focus.twitter {
          background-color: #33ccff; }
        #elsewhere ul a:hover.foursquare, #elsewhere ul a:focus.foursquare {
          background-color: #2398c9; }
        #elsewhere ul a:hover.facebook, #elsewhere ul a:focus.facebook {
          background-color: #1d4088; }
        #elsewhere ul a:hover.instagram, #elsewhere ul a:focus.instagram {
          background-color: #3f729b; }
        #elsewhere ul a:hover.rdio, #elsewhere ul a:focus.rdio {
          background-color: #007dc3; }
        #elsewhere ul a:hover.quora, #elsewhere ul a:focus.quora {
          background-color: #a82400; }
        #elsewhere ul a:hover.tumblr, #elsewhere ul a:focus.tumblr {
          background-color: #2c4762; }
        #elsewhere ul a:hover.github, #elsewhere ul a:focus.github {
          background-color: #495961; }
        #elsewhere ul a:hover.dribbble, #elsewhere ul a:focus.dribbble {
          background-color: #ea4c89; }
        #elsewhere ul a:hover.kickstarter, #elsewhere ul a:focus.kickstarter {
          background-color: #87c442; }
        #elsewhere ul a:hover.svpply, #elsewhere ul a:focus.svpply {
          background-color: #000; }
        #elsewhere ul a:hover.fitbit, #elsewhere ul a:focus.fitbit {
          background-color: #00d6d1; }
        #elsewhere ul a:hover.vimeo, #elsewhere ul a:focus.vimeo {
          background-color: #4bf; }
        #elsewhere ul a:hover.zerply, #elsewhere ul a:focus.zerply {
          background-color: #9dbc7a; }
        #elsewhere ul a:hover.linkedin, #elsewhere ul a:focus.linkedin {
          background-color: #069; }
        #elsewhere ul a:hover.flickr, #elsewhere ul a:focus.flickr {
          background-color: #0063dc; }
        #elsewhere ul a:hover.songkick, #elsewhere ul a:focus.songkick {
          background-color: #f80447; }
        #elsewhere ul a:hover.pinterest, #elsewhere ul a:focus.pinterest {
          background-color: #cb2027; }
        #elsewhere ul a:hover.delicious, #elsewhere ul a:focus.delicious {
          background-color: #3274d1; }
        #elsewhere ul a:hover.goodreads, #elsewhere ul a:focus.goodreads {
          background-color: #660; }
        #elsewhere ul a:hover.untappd, #elsewhere ul a:focus.untappd {
          background-color: #c60; }
        #elsewhere ul a:hover.letterboxd, #elsewhere ul a:focus.letterboxd {
          background-color: #456; }

#contact {
  width: 39%;
  float: right; }
  #contact form {
    width: 100%; }
    #contact form label {
      display: none; }
      .no-placeholder #contact form label {
        display: block; }
    #contact form input.text-box,
    #contact form textarea {
      display: block;
      width: inherit;
      margin-bottom: 12px;
      border: solid 1px #3e4750;
      padding: 6px;
      background-color: #8b9095;
      color: #3e4750;
      font-size: 16px;
      line-height: 24px;
      border-radius: 0;
      -webkit-transition: background-color 1s;
      -moz-transition: background-color 1s;
      transition: background-color 1s; }
      #contact form input.text-box:focus,
      #contact form textarea:focus {
        background-color: #f5f6f6;
        border-color: #466ca5; }
    #contact form::-webkit-input-placeholder {
      color: #3e4750;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
    #contact form:-moz-placeholder {
      color: #3e4750;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
    #contact form::-moz-placeholder {
      color: #3e4750;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
    #contact form:-ms-input-placeholder {
      color: #3e4750;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
    #contact form .btn {
      float: right;
      border: 0;
      padding: 10px 20px;
      border-radius: 3px;
      background-color: #4e73a9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e73a9), color-stop(100%, #466ca5));
      background-image: -webkit-linear-gradient(#4e73a9, #466ca5);
      background-image: linear-gradient(#4e73a9, #466ca5);
      color: #dae2ed;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer; }
      #contact form .btn:hover, #contact form .btn:focus {
        background-position: 0 -15px;
        color: #fff; }

#footer-block {
  background-color: #4f555e; }

footer {
  margin: 12px auto 72px;
  color: #8b9095;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
  footer span {
    float: right; }
  footer a {
    font-weight: bold; }
  footer a:hover,
  footer a:focus {
    color: #fff; }

@media only screen and (max-width: 979px) {
  #header-block {
    background-size: auto 480px; }

  header,
  #page-body,
  #meta {
    width: auto;
    margin: 0; }

  header div {
    border-radius: 0 3px 0 0; }

  header nav {
    border-radius: 0 0 3px 0; }

  #page-body section,
  #meta {
    width: auto;
    padding: 48px 20px; }

  footer {
    width: auto;
    margin-right: 20px;
    margin-left: 20px; } }
@media only screen and (max-width: 810px) {
  #header-block {
    height: 384px;
    background-size: auto 384px; }

  header div {
    margin-top: 0;
    width: 350px;
    border-radius: 0; }
    header div h1 {
      font-size: 48px;
      line-height: 48px; }

  nav {
    width: 350px; }

  #instagram img {
    width: 31.33%;
    margin: 0 3% 3% 0; }
  #instagram a:nth-child(3) img {
    margin-right: 0; }
  #instagram a:nth-child(4) img {
    clear: left; }

  #work div a {
    width: 48%;
    margin-right: 4%; }
    #work div a:nth-child(3) {
      margin-right: 4%; }
    #work div a:nth-child(2), #work div a:nth-child(4) {
      margin-right: 0; }

  #facebox .content {
    width: auto; }

  #elsewhere {
    width: auto; }

  #contact {
    float: left;
    clear: both;
    width: auto; } }
@media only screen and (max-width: 600px) {
  #header-block {
    height: 360px;
    background-color: #b9cbdb;
    background-position: center 96px;
    background-size: auto 288px; }

  header div,
  header nav {
    border-radius: 0;
    width: 100%; }

  section h1 {
    font-size: 36px; }

  #work div {
    width: inherit; }
    #work div a {
      width: 100%;
      margin-right: 0; }

  #facebox .content {
    width: 280px; }

  form {
    float: left;
    width: 280px; }
    form input.textBox,
    form textarea {
      width: 280px; }

  footer span {
    float: left; } }
