// ------------------------------------------
// IMPORTS
// ------------------------------------------

//Import Reset Stylesheet
@import 'reset', 'bourbon/bourbon';

//Import @font-face from Google
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Passion+One:700);

// ------------------------------------------
// VARIABLES
// ------------------------------------------
$line-height: 24px;

$link-color: #486e9f;
$link-hover-color: darken($link-color, 20%);

// ------------------------------------------
// GENERICS
// ------------------------------------------
*,
*:before,
*:after {
  @include box-sizing(border-box);
 }

body {
  font: {
    family: "Century Gothic", "helvetica neue", helvetica, arial, sans-serif;
    size: 16px;
  }
  line-height: $line-height;
  background: #ede7cf url(/images/texture-bg.png) fixed;
  background-size: 75px 75px;
  color: #3f474c;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

a,
a:visited {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
  @include transition(color 0.5s);
}

a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: none;
}

a:focus {
  outline: 1px dotted #486ea3;
}

//Using a mixin as a variable since I can't combine these rules
@mixin selection-attrs { background: #486ea3; color: #fff; text-shadow: none; }
::-moz-selection    { @include selection-attrs; }
::-webkit-selection { @include selection-attrs; }
::selection         { @include selection-attrs; }

// ------------------------------------------
// STRUCTURE
// ------------------------------------------
#header-block,
#pageBody-block,
#meta-block,
#footer-block {
  width: 100%;
  float: left;
}

header,
#page-body,
#meta,
footer {
  width: 980px;
  margin: 0 auto;
}

// ------------------------------------------
// HEADER
// ------------------------------------------
#header-block {
  height: 480px;
  background: url(/images/header/photo.jpg) no-repeat center 0;
  background-size: cover;
  border-bottom: solid $line-height/2 #f3f1e5;
  border-color: rgba(237,231,207,0.3);
}

header {
  display: none;
}

header div {
  margin: $line-height*2 0 4px;
  float: left;
  width: 430px;
  text-align: right;
  text-transform: lowercase;
  color: #fff;
  background-color: #3e4750;
  background-color: rgba(62,71,80,0.8);
  text-shadow: 0 -1px 0 #3e474e;
  border-radius: 3px 3px 0 0;

  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    padding: 12px 20px 0 0;
    border-radius: 3px 3px 0 0;

    a {
      color: #fff;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }//a

    abbr[title] {
      border: none;
    }
  }//h1

  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0 20px 10px 0;
  }
}//header div

nav {
  width: 430px;
  float: left;
  clear: both;
  list-style: none;
  background-color: #3e4750;
  background-color: rgba(62,71,80,0.8);
  border-radius: 0 0 3px 3px;
  z-index: 98;
  text-align: right;
  text-shadow: 0 -1px 0 #3e474e;

  li {
    display: inline;
    margin: 0;

    a,
    a:visited {
      display: inline-block;
      padding: 6px;
      color: #fff;
      font-size: 18px;
      font-weight: normal;
    }

    a:hover,
    a:focus {
      @include linear-gradient(#4e73a9, #466ca5);
      color: #fff;
      outline: none;
      text-shadow: none;
    }

    &.top {
      display: none;
      float: left;

      a {
        border-radius: 0 0 0 3px;
      }
    }//li.top

    &:last-of-type a {
      border-radius: 0 0 3px 0;
    }
  }//li

  &.fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    li.top {
      display: inline;
    }
  }//nav.fixed
}//nav

// ------------------------------------------
// SECTIONS
// ------------------------------------------
section {
  float: left;
  width: 980px;
  padding: $line-height*2.5 0 $line-height*2;

  h1 {
    margin: 0 0 $line-height;
    font-size: 60px;
    font-family: 'Passion One';
    color: #3e4750;
  }

  h2 {
    margin: 0 0 $line-height/2;
  }

  p {
    margin: 0 0 $line-height/1.5;

    strong {
      font-weight: bold;
      text-transform: uppercase;
    }
  }//p
}//section

// ------------------------------------------
// INSTAGRAM
// ------------------------------------------
#instagram {
  width: inherit;
  margin-top: $line-height;

  img {
    float: left;
    opacity: 0.5;
    width: 15%;
    margin: 0 2% 2% 0;
    border-radius: 3px;
  }

  a:nth-child(6) img {
    margin-right: 0;
  }

  a:hover img,
  a:focus img {
    opacity: 1;
    @include transition(all 0.75s);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}//#instagram

// ------------------------------------------
// WORK
// ------------------------------------------
#work div {
  width: inherit;

  a {
    float: left;
    display: block;
    width: 32%;
    margin: 0 2% $line-height 0;

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0;
    }

    img {
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    &:hover img,
    &:focus img {
      opacity: 0.8;
      @include transition(opacity 0.75s);
    }

    p {
      font-size: 13px;
      line-height: 13px;
      margin: 0;
      color: #7f7f7e;
      font-style: italic;
    }
  }//a
}//#work

#facebox .content {
  width: 620px;

  h1 {
    font-size: 36px;
    margin: $line-height/2 0 $line-height/4;
  }

  p,
  ul {
    font-size: 14px;
    margin: 0 0 $line-height/2;
  }

  ul {
    margin-left: $line-height;
    list-style-type: disc;
  }

  .meta {
    margin-bottom: $line-height/2;
    font-size: 16px;
    color: #c5c5c5;
  }
}//#facebox

// ------------------------------------------
// META BLOCK (ELSEWHERE & CONTACT)
// ------------------------------------------
#meta-block {
  border-top: solid $line-height/2 #4f555e;
  padding: $line-height 0 $line-height*2;
  background-color: #3e4750;
  color: #8b9095;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);

  a:hover,
  a:focus {
    color: #fff;
  }

  h1 {
    color: #8b9095;
  }
}//#metaBlock

// ------------------------------------------
// ELSEWHERE
// ------------------------------------------
#elsewhere {
  width: 55%;

  ul {
    list-style: none;
    margin: 0;

    li {
      float: left;
      margin: 0 6px 6px 0;
    }

    a {
      float: left;
      font-size: 36px;
      font-weight: bold;
      text-shadow: none;
      color: #3e4750;
      padding: 8px 6px 10px;
      border-radius: 3px;
      background-color: #4f555e;
      overflow: hidden;

      &:hover,
      &:focus {
        color: #fff;
        @include transition(color 0.5s, background-color 0.5s);

        &.twitter     { background-color: #33ccff; }
        &.foursquare  { background-color: #2398c9; }
        &.facebook    { background-color: #1d4088; }
        &.instagram   { background-color: #3f729b; }
        &.rdio        { background-color: #007dc3; }
        &.quora       { background-color: #a82400; }
        &.tumblr      { background-color: #2c4762; }
        &.github      { background-color: #495961; }
        &.dribbble    { background-color: #ea4c89; }
        &.kickstarter { background-color: #87c442; }
        &.svpply      { background-color: #000; }
        &.fitbit      { background-color: #00d6d1; }
        &.vimeo       { background-color: #4bf; }
        &.zerply      { background-color: #9dbc7a; }
        &.linkedin    { background-color: #069; }
        &.flickr      { background-color: #0063dc; }
        &.songkick    { background-color: #f80447; }
        &.pinterest   { background-color: #cb2027; }
        &.delicious   { background-color: #3274d1; }
        &.goodreads   { background-color: #660; }
        &.untappd     { background-color: #c60; }
        &.letterboxd  { background-color: #456; }
      }

    }//a
  }//ul
}//#elsewhere

// ------------------------------------------
// CONTACT
// ------------------------------------------
#contact {
  width: 39%;
  float: right;

  form {
    width: 100%;

    label {
      display: none;

      .no-placeholder & {
        display: block;
      }
    }//label

    input.text-box,
    textarea {
      display: block;
      width: inherit;
      margin-bottom: $line-height/2;
      border: solid 1px #3e4750;
      padding: 6px;
      background-color: #8b9095;
      color: #3e4750;
      font-size: 16px;
      line-height: $line-height;
      border-radius: 0;
      @include transition(background-color 1s);

      &:focus {
        background-color: #f5f6f6;
        border-color: #466ca5;
      }
    }//input.textBox, textarea

    @include placeholder {
      color: #3e4750;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    }

    .btn {
      float: right;
      border: 0;
      padding: 10px 20px;
      border-radius: 3px;
      @include linear-gradient(#4e73a9, #466ca5);
      color: #dae2ed;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
      cursor: pointer;

      &:hover,
      &:focus {
        background-position: 0 -15px;
        color: #fff;
      }
    }//.btn
  }//#form
}//#contact

// ------------------------------------------
// FOOTER
// ------------------------------------------
#footer-block {
  background-color: #4f555e;
}

footer {
  margin: $line-height/2 auto $line-height*3;
  color: #8b9095;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

  span {
    float: right;
  }

  a {
    font-weight: bold;
  }

  a:hover,
  a:focus {
    color: #fff;
  }
}//footer

// ------------------------------------------
// MEDIA QUERIES
// ------------------------------------------

//Smaller than standard conatainer, converts to fluid
@media only screen and (max-width: 979px) {

  #header-block {
    background-size: auto 480px;
  }

  header,
  #page-body,
  #meta {
    width: auto;
    margin: 0;
  }

  header div {
    border-radius: 0 3px 0 0;
  }

  header nav {
    border-radius: 0 0 3px 0;
  }

  #page-body section,
  #meta {
    width: auto;
    padding: $line-height*2 20px;
  }

  footer {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

}//@media only screen and (max-width: 979px)

//Adjusts hieght of header block photo
@media only screen and (max-width: 810px) {

  #header-block {
    height: 384px;
    background-size: auto 384px;
  }

  header div {
    margin-top: 0;
    width: 350px;
    border-radius: 0;

    h1 {
      font-size: 48px;
      line-height: 48px;
    }
  }//header div

  nav {
    width: 350px;
  }

  #instagram {

    img {
      width: 31.33%;
      margin: 0 3% 3% 0;
    }

    a:nth-child(3) img {
      margin-right: 0;
    }

    a:nth-child(4) img {
      clear: left;
    }
  }//#instagram

  #work div {

    a {
      width: 48%;
      margin-right: 4%;

      &:nth-child(3) {
        margin-right: 4%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        margin-right: 0;
      }
    }//a
  }//#work div

  #facebox .content {
    width: auto;
  }

  #elsewhere {
    width: auto;
  }

  #contact {
    float: left;
    clear: both;
    width: auto;
  }

}//@media only screen and (max-width: 810px)

//Screen is <= to nav width
@media only screen and (max-width: 600px) {

  #header-block {
    height: 360px;
    background-color: #b9cbdb;
    background-position: center 96px;
    background-size: auto 288px;
  }

  header div,
  header nav {
    border-radius: 0;
    width: 100%;
  }

  section h1 {
    font-size: 36px;
  }

  #work div {
    width: inherit;

    a {
      width: 100%;
      margin-right: 0;
    }//a
  }//#work div

  #facebox .content {
    width: 280px;
  }

  form {
    float: left;
    width: 280px;

    input.textBox,
    textarea {
      width: 280px;
    }
  }//form

  footer span {
    float: left;
  }

}//@media only screen and (max-width: 600px)